* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: rgb(244, 220, 250);
}

header {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: rgb(207, 0, 207);
}

header h2 {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

main {
  width: 80%;
  max-width: 500px;
  min-height: 50vh;
  max-height: 80vh;
  margin: auto;
  padding: 1.8rem 1rem;
  background-color: white;
  box-shadow: 0 1px 10px 0 #dadada;
  position: relative;
}

.content {
  overflow: auto;
}

.add-task {
  background-color: rgb(207, 0, 207);
  border: none;
  color: white;
  width: 75%;
  max-width: 7.5rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(207, 0, 207);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -28%);
}

.task {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 8%;
  padding-left: 4%;
  cursor: pointer;
}

.none {
  display: none;
}

.inputs {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.inputs input {
  padding-left: 1rem;
  padding-top: 0.4rem;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 1.1rem;
}

.inputs .small {
  font-size: 0.85rem;
  color: rgb(207, 0, 207);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.controls button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}



.form-pop-up {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 220, 250);
  display: none;
}

.form-container {
  width: 80%;
  max-width: 500px;
  min-height: 50vh;
  max-height: 80vh;
  margin: auto;
  padding: 1.8rem 1rem;
  background-color: white;
  box-shadow: 0 1px 10px 0 #dadada;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-container input {
  outline: none;
  border: 1.5px solid gray;
  border-radius: 5px;
  padding: 0.5rem 0.2rem;
}

.form-container label {
  color: rgb(207, 0, 207);
}

.form-container button {
  background-color: rgb(207, 0, 207);
  border: none;
  color: white;
  padding: 0.5rem 0;
  width: 75%;
  max-width: 7.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgb(207, 0, 207);
}